* {
  font-family: "Poppins", serif;
}

body {
  margin: 0;
  overflow: hidden;
}
div.container {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-color: #041643;
  height: 100vh;
  position: relative;
  padding: 60px 20px 16px 20px;
  background-size: cover;
  overflow: hidden;
}

div.contentBox {
  display: flex;
  gap: 8px;
  width: fit-content;
}
p.heading {
  color: #fff;
  font-size: 20px;
  margin: 0;
}
p.LoginText {
  color: #fff;
  margin: 0;
  font-size: 24px;
}
div.wrapper {
  display: grid;
  gap: 61px;
  width: fit-content;
}

div.inputBox {
  padding: 32px 16px 40px 16px;
  background-color: #fff;
  border-radius: 9px;
  margin-top: 61px;
  display: grid;
  gap: 21px;
}

input.inputField {
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 34px;
  padding: 0px 8px;
  font-size: 10.2px;
}
p.inputText {
  font-size: 9px;
  color: #696969;
  margin: 0;
  font-weight: 600;
}
div.inputWrapper {
  display: grid;
  gap: 8px;
}
button.loginButton {
  background-color: #1352f1;
  color: #fff;
  width: 100%;
  border-radius: 4.5px;
  height: 34px;
  border: none;
}

div.signUpWrapper p:last-child {
  font-weight: 600;
}
div.signUpWrapper {
  display: flex;
  gap: 6px;
}
div.signUpWrapper p {
  color: #000;
  font-size: 8.5px;
  margin: 0;
}
p.subHeading {
  color: #afafaf;
  font-size: 12px;
}
